.list-item {
    padding: 1.5rem;
    border: 0.5px solid;
    border-color: var(--surface-400);
    border-radius: 4px;
    background-color: var(--surface-0);
    color: var(--text-color);

    &:hover {
        border-color: var(--primary-color);
        color: var(--primary-color);
    }

    &:focus-visible {
        outline: var(--primary-color);
    }
}

